* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.navbar{
    background-color: #c4c95b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.bg-home{
    background-image: url('/static/images/dogbg.jpg');
    background-size: cover;
    min-height: calc(100vh - 56px);
    width: 100%;
    margin: 0;
    padding: 50px;
    display: block;
    
}


h1.hom {
    text-align: center;
    margin: 0; 
    padding-top: 20px; 
}

.button{
    background-color: rgba(214, 198, 26, 0.8); 
    color: black; 
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}