* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.navbar{
    background-color: #c4c95b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.bg-home {
    background-image: url('/static/images/catdogbg.jpg');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: calc(100vh - 56px); /* Takes up the full viewport height */
    width: 100%; /* Ensures the width spans across the screen */
    margin: 0;
    padding: 50px;
    display: block;
}





